<div>
    <div class="hero is-primary title-margin">
        <div class="hero-body">
            <h1 class="title has-text-centered">This project is a recruitment task</h1>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child notification">
                <div class="content">
                    <p class="title">The Goal</p>
                    <p class="subtitle">is pretty simple</p>
                    <div class="content">
                        <p>The backend is supposed to persist customers and provide an API for accessing their information.</p>
                        <p>Customers can then be displayed on the frontend.</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="tile is-vertical is-5">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification">
                        <p class="title">The user should be able to</p>
                        <div class="content">
                            <ul>
                                <li>Filter and sort the list of customers.</li>
                                <li>Click on a customer in the list to view their details and add/edit notes for that customer.</li>
                                <li>Change their status.</li>
                            </ul>
                        </div>
                    </article>
                    <article class="tile is-child notification">
                        <p class="title">Customers should have</p>
                        <div class="content">
                            <ul>
                                <li>Unique customer identifier.</li>
                                <li>Status: one of "prospective", "current" or "non-active".</li>
                                <li>Creation date and time.</li>
                                <li>General information like name and contact details.</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="tile is-parent is-one-quarter is-4">
            <article class="tile is-child notification picture-padding">
                <figure class="image">
                    <img src="https://i.pinimg.com/originals/1e/19/6f/1e196fa9db54cbe1bc60091194f48cc9.jpg" />
                </figure>
            </article>
        </div>

    </div>
</div>
