@import "../common/customers-common";

tbody tr {
    cursor: pointer;
}

.flex-align-parent {
    align-items: center;
    justify-content: center;
}

.flex-top {
    align-self: flex-start;
    width: 100%;
}
