@import "../common/customers-common";

.smaller-title {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.small-padding {
    padding: 10px;
}

.addr-data {
    width: 60%;
}

.card {
    margin-bottom: 10px;
}

.table {
    margin: 0;
}
